.error-toast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FEE7E9;
    border: 1px solid #FFB1B8;
    border-radius: 6px;
    margin: 0 auto;
    font-family: 'Encode Sans';
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
    flex-grow: 1;

    img {
        padding: 0.6rem;
        width: 1rem;
        height: 1rem;
    }
}