// Variables
$btn-default-color: #8A3879;
$btn-hover-color: #A54F93;
$btn-disabled-color: #78306B;
$alert-color: #D42F1A;

.get-password-form {
    font-family: 'Lato';
    background-color: #FFFFFF;
    padding: 2rem 2rem;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    margin-top: -10rem;

    h2 {
        font-weight: 700;
    }

    .field {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        margin-bottom: 1.5rem;
        padding: auto;
        max-width: 60rem;

        label {
            margin-bottom: 0.2rem;
        }
        
        input {
            border: 1px solid #939393;
            height: 2rem;
            box-sizing: content-box;
            border-radius: 7px; 
            text-align: left; 
            padding-left: 1rem;  
        }

        input:hover {
            border: 1px solid #939393;
        }

        #docu {
            border: 1px solid #939393;
            height: 2rem;
            box-sizing: content-box;
            border-radius: 7px; 
            text-align: left; 
            padding-left: 1rem;  
        }

        #docu-err {
            border: 1px solid $alert-color;
            height: 2rem;
            box-sizing: content-box;
            border-radius: 7px; 
            text-align: left; 
            padding-left: 1rem;  
        }

        span {
            color: $alert-color;
        }

        .select-doc {
            font-weight: 400;
            color: #555555;
        }
    }
    
    .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
    }

        input[type=button]:nth-child(2) {
            height: 2.5rem;
            margin: 0;
            font-weight: 400;
            margin-bottom: 2rem;
            background-color: $btn-default-color;
            border: none;
            color: #FFFFFF;
            border-radius: 7px;
            text-align: center;
            cursor:pointer;
        }

        input[type=button]:nth-child(2):hover {
            background: #A54F93;
            box-shadow: 0px 0px 6px rgba(165, 79, 147, 0.85);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        text-decoration: none;
        font-weight: 400;
        margin-bottom: 2rem;
        background-color: #FFFFFF;
        border: 1px solid $btn-default-color;
        color: $btn-default-color;
        border-radius: 7px;
        text-align: center;
    }
}

@media ( min-width: 992px ) {
    .get-password-form {
        border-radius: 0;
        height: 25rem;
        width: 25vw;
        margin-left: 3rem;
        margin-top: 2rem;

        input {
            height: 4rem;
        }
    }
}


@media ( min-width: 1200px ) {
    .get-password-form {
        border-radius: 0;
        height: 25rem;
        width: 23vw;
        margin-left: 4rem;
        margin-top: 4rem;

        input {
            height: 4rem;
        }
    }
}