// Variables
$btn-default-color: #8A3879;
$btn-hover-color: #A54F93;
$btn-disabled-color: #78306B;

.login-form {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFFF;
    padding: 2rem 2rem;
    border-radius: 40px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    margin-top: -10rem;

    h2 {
        font-weight: 700;
    }

    .field {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        margin-bottom: 1.5rem;
        padding: auto;
        max-width: 60rem;

        label {
            margin-bottom: 0.2rem;
        }
        
        input {
            border: 1px solid #649FD6;
            height: 2rem;
            box-sizing: content-box;
            border-radius: 7px; 
            padding-left: 1rem;   
        }

        input:hover {
            border: 1px solid #939393;
        }

        span {
            color: #D42F1A;
        }

        .visibility {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                flex-grow: 0.95 ;
            }

            img {
                margin-left: -2rem;
                z-index: 1;
                cursor: pointer;
            }
        }

    }
    
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
        font-weight: 300;
        margin-bottom: 2rem;


        input[type=button]:nth-child(1) {
            background-color: $btn-default-color;
            border: none;
            height: 2.5rem;
            color: #FFFFFF;
            border-radius: 7px;
            text-align: center;
            cursor: pointer;
        }

        input[type=button]:nth-child(1):hover {
            background: #A54F93;
            box-shadow: 0px 0px 6px rgba(165, 79, 147, 0.85);
        }
    }

    a {
        text-align: center;
        color: $btn-default-color;
    }
}


@media ( min-width: 576px){
    .login-form {
        
        label {
            margin-bottom: 5rem;
        }
        .field {
            .visibility {
                input {
                    flex-grow: 0.98 ;
                }
           }
        }
    }
}


@media ( min-width: 768px ){
    .login-form {
        margin-top: -22rem;
        
        .field {
            .visibility {
                input {
                    flex-grow: 0.99 ;
                }
           }
        }

    }
}


@media ( min-width: 992px ) {
    .login-form {
        border-radius: 0;
        height: 25rem;
        width: 25vw;
        margin-left: 3.2rem;
        margin-top: 0;

        input {
            height: 3rem;
        }

        .field {
            .visibility {
                input {
                    flex-grow: 0.92 ;
                }
           }
        }
    }
}


@media ( min-width: 1200px ) {
    .login-form {
        border-radius: 0;
        height: 25rem;
        width: 25vw;
        margin-left: 4rem;

        input {
            height: 4rem;
        }

        .field {
            .visibility {
                input {
                    flex-grow: 0.96 ;
                }
           }
        }
    }
}